.modal-container {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 5;
    height: 300px;
    width: 500px;
    background-color: rgb(255,255,255);
    border-radius: 7px;
}

.exit-buttom {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    color: rgb(136, 136, 136);
    font-size: 2rem;
    cursor: pointer;
}

.exit-buttom:hover {
    color: red;
}

.check-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(246, 247, 250);
}

.check-style {
    position: relative;
    top: 20px;
    left: 25px;
    height: 30px;
    width: 30px;
    cursor: pointer
}

.check-info {
    position: relative;
    top: 10px;
    left: 40px;
    display: inline;
}

.info {
    position: relative;
    top: 10px;
    left: 10px;
    display: inline-block;
    height: 200px;
    width: 400px;
    border: 1px solid black;
}

.info-header {
    margin: 10;
    font-size: 1.5rem;
}

.info-text {
    padding: 0px 5px 0px 10px;
    font-size: 1.2rem;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swap-container {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 50%;
}

.swap-buttom {
    height: 30px;
    width: 30px;
    margin: 5px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.swap-buttom:hover {
    background-color: blueviolet; 
}

.check-list {
    padding: 0;
    list-style-type: none
}

.check-item {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
}

